@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.gradient {
  background-image: linear-gradient(to right, #435DB1, #1B1525);
  /* Other styles like width, height, etc., can be added as needed */
}

.center-div{
  @apply flex justify-center items-center;
}

.nav-hov {
  @apply relative;
  overflow: hidden;
}

.nav-hov::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -2px; 
  width: 0;
  height: 2px;
  background-color: #3b82f6; 
  transition: all ease-in-out 250ms;
}

.nav-hov:hover::after {
  width: 100%;
}